@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    padding: 1.5rem 6rem;

}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

#navbar .container{
    display: flex;
    background-color: #D0DCFA;
    justify-content: space-between;
    align-items: center;
}

#navbar .container .nav-link{
    display: flex;
    align-items: center;
    gap: 4rem;
}



#navbar .container .nav-link .nav-menu{
    display: flex;
    background-color: rgb(178, 132, 234);
    gap: 2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
}

#navbar .container .nav-link .nav-menu:hover{
    background-color: beige;
    border-radius: 0.5rem;
}

#navbar .container .nav-link .contact-btn{
    padding: 0.75rem 1.5rem;
    background-color: rgb(178, 132, 234);
    border-radius: 8px;
    font-weight: 600;
}

#navbar .container .nav-link .contact-btn:hover{

background-color: beige;
}

#navbar .container .nav-link .contact-btn > a{
    color: black;
    
}

@media screen and (max-width: 1024px) {
    #navbar .container .nav-link{
        display: none;
    }
}



